@use '../variables.scss';

.header{
    width: 100%;
    height: 100px;
    background-color: variables.$color-background;
    border-bottom: 1px solid gray;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 0px 40px;
    position: fixed;
    top: 0;
    z-index: 1;


    .logo{
        width: 90px;
    }
    .search{
        flex: 1;
        display: flex;
        justify-content: flex-end;
        gap: 20px;

        .input-search{
            width: 100%;
            max-width: 700px;     
            flex: 1;
            padding: 8px;
            font-weight: 700;
            color: variables.$color-text-gray;
        }

        .mobile{
            position: absolute;
            top: 100px;
            width: 90%;
        }

        .hidden{
            display: none;
        }

        .button{
            background-color: transparent;
            border: none;
            position: relative;
        }

        .itens_car{
            position: absolute;
            width: 20px;
            height: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: rgb(221, 2, 2);
            color: #fff;
            border-radius: 50%;
            font-weight: bold;
            top: -10px;
            right: -10px;
        }


    }

    .icons{
        width: 25px;
    }


@media (min-width: 768px) {
    padding: 0px 60px;

    .search{

        .mobile{
            position:static;
        }

        .btn-search{
            display: none;
        }
    }
}

}