$font-family-primaria: 'Lato', sans-serif;

$font-size-xsmall: 1.2rem;
$font-size-small: 1.4rem;
$font-size-medium: 1.6rem;
$font-size-large: 2.0rem;
$font-size-xlarge: 2.4rem;
 

$color-background: #fff;

$color-text-black: #202020;
$color-text-gray: #525252;

$color-button: #459924;


