$font-family-primaria: 'Lato', sans-serif;

$font-size-primaria: 1.6rem;
$font-size-secundaria: 2rem;
 

$color-background: #fff;

$color-text-black: #161616;
$color-text-gray: #3b3b3b;

$color-button: #459924;


